@model ApplicationUser
@using Yummy.Data
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.AspNetCore.Localization;
@inject IViewLocalizer _localizer;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="d-flex justify-content-center">

            <div class="card" style="width:25rem;">
                <img src="~/Images/@Model.ImageName" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@_localizer["details"]</h5>

                    <p class="card-text">
                        <span>@_localizer["id:"]</span>
                        <span>@Model.Id</span>
                    </p>

                    <p class="card-text">
                        <span>@_localizer["email:"]</span>
                        <span>@Model.Email</span>
                    </p>

                    <p class="card-text">
                        <span>@_localizer["username:"]</span>
                        <span>@Model.UserName</span>
                    </p>
                   
                    <p class="card-text">
                        <span>@_localizer["jopTitle:"]</span>
                        <span>@Model.JopTitle</span>
                    </p>

                    <p class="card-text">
                        <span>@_localizer["description:"]</span>
                        <span>@Model.Description</span>
                    </p>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
